# Server Configuration
PORT=3000

# Database Configuration (PostgreSQL / Neon / Supabase)
# Opsi 1: Menggunakan parameter terpisah
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=your_database
DB_SSL=false # Ubah ke true jika menggunakan Neon / Supabase / Cloud DB

# Opsi 2: Menggunakan Connection String (misal dari Neon / Render)
# DATABASE_URL=postgresql://user:password@ep-xyz-ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# JWT Secret
JWT_SECRET=your_jwt_secret_key

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_KEY_SECRET=your_cloudinary_api_key_secret
